In [24]:
import pandas as pd
filename = "result.csv"
df = pd.read_csv(filename)
df = df.rename(columns={'Unnamed: 0': 'Domains', 'avg'='means'})
df = df[['Domains', 'C->A', 'C->W', 'C->D', 
            'A->C', 'A->W', 'A->D', 
            'W->C', 'W->A', 'W->D', 
            'D->C', 'D->A', 'D->W', 'avg']]
df = df.set_index('Domains')
df = df.rename(index={'otda': 'OT', 'uotda': 'UOT', 'uotda_with_cost': 'UOTc'})
df = df.T
df.to_csv(filename)
df

Domains    1NN     OT    UOT   UOTc
C->A     23.70  40.61  40.81  40.61
C->W     25.76  38.98  38.98  38.98
C->D     25.48  44.59  45.22  44.59
A->C     26.00  30.28  30.37  30.28
A->W     29.83  29.83  29.83  29.83
A->D     25.48  34.39  34.39  34.39
W->C     19.86  31.17  31.08  31.17
W->A     22.96  37.27  37.37  37.37
W->D     59.24  77.07  77.07  77.07
D->C     26.27  28.67  28.76  28.76
D->A     28.50  28.08  28.08  28.08
D->W     63.39  78.98  78.98  79.32
avg      48.53  54.96  55.03  55.00